<h1>Patient POC</h1>

<h3><%= link_to "New Visit Note", new_visit_path(@visit) %></h3>


<ul>
    <% @visits.each do |v| %>
        <li>
            <%= link_to v.goal_name, visit_path(v) %>
        </li>
    <% end %>
</ul>
