<h1><%= @visit.goal_name %></h1>


I am so happy at this point I just had to say it somewhere
<br>
I MADE AN APP WOOOHOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
<br>
Going to make dinner, watch kdrama, and continue tomorrow omg i am a genius and next week is my birthday and i wrote code i feel so pretty


